.body{
	font-family: "Poppins", sans-serif;
	height: 100vh;
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	 display: flex;
  	align-items: center;
  	justify-content: center;
  	
}
.glass{
	background: white;
  	height: 80vh;
	width: 80%;
	background: linear-gradient(
	    to right bottom,
	    rgba(255, 255, 255, 0.7),
	    rgba(255, 255, 255, 0.3)
	  );
	  border-radius: 2rem;
	  z-index: 2;
	  backdrop-filter: blur(2rem);
}
.container-3{
	display: flex;
	width: 80%;
	margin: auto;
	margin-top: 4rem;
	height: 40vh;
	background: linear-gradient(
	    to right bottom,
	    rgba(255, 255, 255, 0.7),
	    rgba(255, 255, 255, 0.5)
	  );
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%), 0 2px 10px 0 rgb(0 0 0 / 22%);
	border-radius: 12px;
}

.lienhe{
	margin-top: 2rem;
	margin-left: 1rem;
	margin-right: 2rem;
}